.mat-container {
  width: 100%;
  position: relative;
}

.main-content {
  padding: 20px;
}

.mat-sidenav-content {
  display: flex;
  height: 100%;
}

.mat-sidenav {
  padding: 0;
  position: fixed;
  overflow-x: hidden;
}

.mat-drawer-inner-container {
  width: 300px;
}